<mat-grid-list class="page-with-toolbar" cols="1" rowHeight="fit">
    <mat-grid-tile>
        <amr-data-table title="Counter" [data]="data" [dataSize]="dataSize" [columnDefs]="columns" [filters]="filters!"
            [haveSearch]="true" [isAsync]="true" [pageSize]="30" [sortActive]="'id'" [sortDirection]="'desc'"
            [clickable]="true" [isLoading]="(loadingList$ | async)" (changed)="changed($event)" [showSubmit]="false"
            [preserveSearchQuery]="true" [isReport]="true" [haveDownload]="true" [btns]="btns"
            (btnClicked)="btnClicked($event)"></amr-data-table>
    </mat-grid-tile>
</mat-grid-list>