.rdt-container {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.rdt-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rdt-title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 36px;
}
.rdt-title {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.rdt-subtitle {
    font-size: 12px;
    color: #999;
    letter-spacing: 0.5px;
}
.rdt-content {
    height: calc(100% - 36px);
}
.filter-icon {
    stroke: #5854e0;
    color: #5854e0;
}