@use '@angular/material' as mat;

.density {
    @include mat.table-density(-6);
}
.rdt-card {
    height: 100%;
}
.rdt-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rdt-title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 36px;
}
.rdt-title {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.rdt-subtitle {
    font-size: 12px;
    color: #999;
    letter-spacing: 0.5px;
}
.rdt-content {
    height: calc(100% - 51px);
}
.filter-icon {
    stroke: #5854e0;
    color: #5854e0;
}
::ng-deep .filter-menu.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: 100vw;
}
.container-panel {
    padding:10px;
    border: 1px solid;
    color: #999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter-menu-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}
.container-label {
    width:100%;
    text-align: center;
    margin-top: -5px;
}
.container-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rdt-container {
    height:100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}
td {
    padding: 0px 2px 0px 2px !important;
    font-size: 10px !important;
}
th {
    padding: 0px 2px 0px 2px !important;
    font-size: 10px !important;
    font-weight: 600;
}
.rdt-table {
    max-width: 100%;
}
