.measure-drawer-container {
  .mat-mdc-tab-group {
    gap: 10px;
    height:100%;
}
.mat-drawer {
    width:25%;
    padding:10px !important;
    
}
  height:100%;
}
.stepper-content {
  min-height:calc(100% - 72px);
}
.stepper-buttons {
  // background-color: rgba($color: #000000, $alpha: 0.1);
  position: sticky;
  bottom: 0px;
  padding: 18px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  button {
      width:100%;
  }
}
.report-measures-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.name-container {
    padding-left: 16px;
}

.example-list {
    max-width: 100%;
    border: solid 1px #ccc;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    // padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    //display: flex;
    //flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    width:72% !important; // you can add in px also 
     // this line added
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .buttons-container {
    padding:18px;
    button {
        width:100%;
    }
}
.highlight {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
    width:40px;
    text-align: center;
    font-size: 12px;
}
.highlight.red {
    color: rgb(234, 58, 61);
    background-color: rgba(234, 58, 61, 0.2);
}
.highlight.green {
    color: rgb(26, 213, 152);
    background-color: rgba(26, 213, 152,0.3);
}
.having-add {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.having-container {
  padding: 16px;
}
.having-row {
  height: 70px;
  width:100%;
  display: flex;
}
.having-col {
  width: 32%;
  padding: 5px;
  .mat-mdc-form-field {
    width:100%;
  }
}
.having-button {
  display: flex;
  justify-content: end;
  align-items: center;
  width:4%;
}
.measure-drop-container {
  text-align: center;
  height:50px;
  width:100%;
}
.measure-drop {
  height:40px;
  line-height: 40px;
  color: #888;
  border:  1px dotted;
  padding:6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  gap: 5px;
  font-size: 14px;
  justify-content: center;
  .mat-icon {
      font-size: 24px;
  }
}
.measure-drop:hover {
  color: black;
}