<mat-grid-list class="page-with-toolbar" cols="1" rowHeight="fit">
    <mat-grid-tile>
        <mat-progress-bar mode="query"></mat-progress-bar>
        <amr-data-table title="Kpi List" [data]="data" [dataSize]="dataSize" [columnDefs]="columns" *ngIf="(filters$ | async) as filters"
        subtitle="Select KPI to edit"
            [isAsync]="true" [pageSize]="30" [sortActive]="'id'" [sortDirection]="'desc'"
            [filters]="filters"
            [haveSearch]="true"
            [isLoading]="(loadingList$ | async)" (changed)="changed($event)" [showSubmit]="false"
            [preserveQueryParams]="true" [isReport]="true" [haveDownload]="true" [btns]="btns"
            (btnClicked)="btnClicked($event)" [menuBtns]="menuBtns"
            (menuBtnClicked)="menuCLicked($event)"></amr-data-table>
    </mat-grid-tile>
</mat-grid-list>