
.measures-container {
    height:100%;
}
.kpi-builder-container {
    .mat-mdc-tab-group {
        gap: 10px;
        height:100%;
    }
    .mat-stepper-vertical {
        height:100%;
    }
    .mat-stepper-horizontal .mat-horizontal-stepper-wrapper {
        flex: 1 1 auto;
    }
    .mat-drawer {
        width:25%;
        padding:10px !important;
        
    }
    height:100%;
    
}
.section {
    padding: 15px 15px 0px 15px;
    .mat-mdc-form-field {
        width:100%;        
    }
    button {
        width:100%;
    }
}
.kpi-form-container {
    height:90px;
}
.drawer-toggle-button {
    position: fixed;
    top: calc(30% - 25px);
    padding:5px !important;
    min-width: 0px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    .mat-icon {
        margin-right:-4px;
    }
}
.button-handler {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.control-error {
    color: red;
    font-size: 14px;
    
}
.chips-grid {
    min-width:100px;
    min-height: 40px;
}
.chips-grid .cdk-drag-placeholder {
    width:5px !important;
    
}
// .chips-grid .cdk-drag-preview {
//     width:5px !important;
//     background-color: #333;
// }
.chips-grid.cdk-drop-list-dragging {
    text-align: left;
    border: 1px dotted;
}
.chips-grid .counter {
    background-color:  rgba(lightblue, 0.3);
    border: lightblue solid 1px;
}
.chips-grid .kpi {
    padding: 0px !important;
    background-color: rgba(lightgreen, 0.3);
    border: lightgreen solid 1px;
}
.chips-grid .function {
    background-color: rgba(yellow, 0.3);
    border: yellow solid 1px;
}
.chips-grid .number {
    background-color: rgba(orange, 0.3);
    border: orange solid 1px;
}