<mat-grid-list class="page-with-toolbar" cols="1"  rowHeight="fit">
    <mat-grid-tile>
        <amr-data-table
        title="Subsets"
        [data]="data"
        [dataSize]="dataSize"
        [columnDefs]="columns"
        [filters]="filters!"
        [isAsync]="true"
        [pageSize]="30"
        [sortActive]="'id'"
        [haveSearch]="true"
        [sortDirection]="'desc'"
        [clickable]="true"
        [isLoading]="(loadingList$ | async)"
        (changed)="changed($event)"
        [showSubmit]="false"
        [preserveSearchQuery]="true"
        [isReport]="true"
        
        [btns]="btns"
        ></amr-data-table>
    </mat-grid-tile>
</mat-grid-list>
