<mat-grid-list class="page-with-toolbar" cols="4" rowHeight="fit">
  <div cdkDropListGroup>
    <mat-grid-tile rowspan="3">
      <div style="height: 100%; width: 100%">
        <app-counter-side-list></app-counter-side-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="4">
      <div class="formula-container">
        <mat-form-field class="formula-control" appearance="outline">
          <mat-label> KPI formula </mat-label>
          <div
            cdkDropListOrientation="horizontal"
            cdkDropList
            [cdkDropListData]="kpiService.kpiResult"
            class="example-list-pos"
            style="width: 100%; height: 100%"
            (cdkDropListDropped)="kpiService.drop($event)"
          >
            <!-- <input matInput rows="0" style="background-color: red;" /> -->

            <mat-chip-grid
              #chipGrid
              style="
                border-top: 0px;
                width: 100%;
                height: 100%;
                display: list-item !important;
              "
            >
              @for (item of kpiService.kpiResult; track item) {
              <mat-chip-row
                [editable]="true"
                (removed)="kpiService.removeNumber(item)"
                [aria-description]="'press enter to edit ' + item.name"
                (edited)="kpiService.editNumber(item, $event)"
                cdkDrag
                class="chip-item"
              >
                <div class="chip-name">
                  {{ item.name }}
                </div>

                <button matChipRemove [attr.aria-label]="'remove ' + item.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>

              }
              <input
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="kpiService.addNumber($event)"
                style="width: 30px; height: 30px"
                class="input"
              />
            </mat-chip-grid>
          </div>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">
      <div style="height: 100%; width: 100%">
        <app-kpi-side-list></app-kpi-side-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <div style="height: 100%; width: 100%; padding: 16px">
        <app-operators></app-operators>
        <button
          mat-raised-button
          color="primary"
          style="margin-top: 60px; margin-left: 80%"
          (click)="kpiService.submit()"
        >
          Submit
        </button>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>
