.formula-container {
    width: 100%;
    height: 100%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    textarea {
        height: 10%;

    }
}



.formula-control {
    height: auto
}

.mat-tooltip {
    font-size: 12px !important;
}

.example-button {
    margin-top: 16px;
}

.example-tooltip-uppercase {
    text-transform: uppercase;
}

.chip-name {
    font-size: x-small;
    max-width: 50px;
    color: white !important;
    scroll-snap-type: mandatory !important;
    transform: 0;
    overflow-x: hidden;
}

.conter-view {
    background-color: #ce93d8 !important;

}

.function-view {
    background-color: #FFC107 !important;
    color: white !important;
}

.kpi-view {
    background-color: #26a69a !important;
    color: white !important;
}

.opt-view {
    background-color: #00e676 !important;
    color: white !important;
}

.voidFunction-view {
    background-color: #eee !important;
}

.number-view {
    background-color: #ff7043 !important;
}


.load-more-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100%;
}

.check-valid {
    width: 100%;
    text-align: right;

}







.item-view {
    width: 30px;
    font-size: small;
    overflow-x: hidden
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0, 1);
}

.example-box:last-child {
    border: none;
}

.chip-name.cdk-drop-list-dragging .chip-name:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kpi_boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #b82525 2px;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.example-box {
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;

}

input.mat-input-element {
    height: 105px
}