<mat-grid-list class="page-with-toolbar" cols="1"  rowHeight="fit">
    <mat-grid-tile>
        <div class="overall-spinner-container" *ngIf="loadingElement$ | async">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
        <amr-data-table
        title="Extra Fields"
        [data]="data"
        [dataSize]="dataSize"
        [columnDefs]="columns"
        [filters]="filters!"
        [isAsync]="true"
        [pageSize]="30"
        [sortActive]="'id'"
        [sortDirection]="'desc'"
        [clickable]="true"
        [isLoading]="(loadingList$ | async)"
        (changed)="changed($event)"
        [showSubmit]="false"
        [preserveSearchQuery]="true"
        [isReport]="true"
        [haveDownload]="true"
        [btns]="btns"
        (btnClicked)="btnClicked($event)"
        [menuBtns]="menuBtns"
        (rowClicked)="rowClicked($event)"
        (menuBtnClicked)="menuClicked($event)"
        [menuLoadingRows]="loadingElementRows$ | async"
        ></amr-data-table>
    </mat-grid-tile>
</mat-grid-list>
