$primarypalette: (
    50 : #e7e7fb,
    100 : #c4c3f4,
    200 : #9d9bed,
    300 : #7572e6,
    400 : #5854e0,
    500 : #3a36db,
    600 : #3430d7,
    700 : #2c29d2,
    800 : #2522cd,
    900 : #1816c4,
    A100 : #f6f6ff,
    A200 : #c3c3ff,
    A400 : #9190ff,
    A700 : #7876ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accentpalette: (
    50 : #e0f2ff,
    100 : #b3deff,
    200 : #80c8ff,
    300 : #4db1ff,
    400 : #26a1ff,
    500 : #0090ff,
    600 : #0088ff,
    700 : #007dff,
    800 : #0073ff,
    900 : #0061ff,
    A100 : #ffffff,
    A200 : #f2f6ff,
    A400 : #bfd3ff,
    A700 : #a6c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dangerpalette: (
    50 : #fce7e8,
    100 : #f9c4c5,
    200 : #f59d9e,
    300 : #f07577,
    400 : #ed585a,
    500 : #ea3a3d,
    600 : #e73437,
    700 : #e42c2f,
    800 : #e12527,
    900 : #db181a,
    A100 : #ffffff,
    A200 : #ffdadb,
    A400 : #ffa7a8,
    A700 : #ff8e8f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warningpalette: (
    50 : #fef7eb,
    100 : #fdeacd,
    200 : #fcdcac,
    300 : #fbce8b,
    400 : #fac472,
    500 : #f9b959,
    600 : #f8b251,
    700 : #f7aa48,
    800 : #f6a23e,
    900 : #f5932e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7cf,
    A700 : #ffd9b6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$successpalette: (
    50 : #e4faf3,
    100 : #baf2e0,
    200 : #8deacc,
    300 : #5fe2b7,
    400 : #3cdba7,
    500 : #1ad598,
    600 : #17d090,
    700 : #13ca85,
    800 : #0fc47b,
    900 : #08ba6a,
    A100 : #e5fff2,
    A200 : #b2ffd9,
    A400 : #7fffbf,
    A700 : #65ffb3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



